
<footer class="footer">
    <div class="container mytext">
      <a href="https://www.facebook.com/mcShobhit1601" target="_blank" class="fa fat faf fa-facebook"></a>
      <a href="https://www.linkedin.com/in/shobhit-srivastava-3b94731b8" target="_blank" class="fa fat fal fa-linkedin"></a>
      <a href="https://www.instagram.com/shobhit_s.07/" target="_blank" class="fa fat fai fa-instagram"></a>
      <span class="text-muted mytext">&copy;Shobhit Srivastava</span>
    </div>
  </footer>
</html>
