<%- include("partials/header"); -%>


 <div id="page" class="container" style="margin-top: 5px" >
<h1 >About</h1>
    <p> This is a Web App to submit a MCQ quiz. You can check your score by clicking on Submit Quiz button and Show score button respectively.<br>Moreover you can add your own question and even delete a question from the quiz. To delete a question, you must know the question ID.<br>To use this web app, you should be authenticated. That is, either you should signup or login. If you do not do any of these 2 processes, you cannot access any other page, except this very page. If you are loggged in once, and you havent logged out, your session will be saved and when you will comeback, you will be straight away redirected to your home page without asking to login or signup again.<br> Besides the links mentoined in the footer below, you can even contact me on my mobile number: </p>
	<a id="phone" href="tel:9660034210"><h5>9660034210<h5></a>
    </div>
</body>	






  <%- include("partials/footer"); -%>