<%- include("partials/header"); -%>

  <div id="page-wrap">
    <h1 class="newh1" style="text-align: center;font-size: 40px; color: #1abc9c;">Your Score</h1>
    <h1 style="text-align: center;"><%=finalScore%>/<%=total%></h1>
    </div>
</body>

<%- include("partials/footer"); -%>