<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Web App</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom Stylesheet-->
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
 
  <body class="text-center">
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand row" href="/" style="margin: auto ">
          <div class="d-none d-sm-block">
            <img src="/images/CN.jpg" width="75" height="75" class="logo d-inline-block align-top" alt="Coding Ninjas Pic">
          </div>
         <div style="font-size: 200%">Welcome NiNjA</div>
        </a>
      </nav>
    </header>
    <div style="margin-top: 100px">
      <p class="lead">Login below, or Sign Up to enjoy Amazing Content!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
    </footer>
  </body>
     <footer class="footer" style="padding-bottom:18px">
      <div class="container mytext">
        <a href="https://www.facebook.com/mcShobhit1601" target="_blank" class="fa fat faf fa-facebook"></a>
        <a href="https://www.linkedin.com/in/shobhit-srivastava-3b94731b8" target="_blank" class="fa fat fal fa-linkedin"></a>
        <a href="https://www.instagram.com/shobhit_s.07/" target="_blank" class="fa fat fai fa-instagram"></a>
        <span class="text-muted mytext">&copy;Shobhit Srivastava</span>
      </div>
</html>